/* carte.css */

.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  margin: 10px 20px;
  box-shadow: 0 0 10px rgb(158, 156, 156);
}
.card-bordered {
  border: 5px solid white;
}

.card-image-container {
  flex: 0 0 41.7%;
  overflow: hidden;
}
.card-text {
  flex: 0 0 58.3%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

/* image vertical */
.card-vertical .card-image-container img {
  border-radius: 30px 30px 0 0;
}

.card-text p {
  flex: 1;
  margin: 0;
  padding: 6px 0px 7px;
}

.card-text h3 {
  margin: 0;
  font-weight: bold;
}

.card-vertical {
  flex-direction: column;
}

/* card no border */

.card-link {
  text-decoration: none;
  color: unset;
  display: flex;
}

.card-link .card {
  flex: 1;
  transition: transform ease-in-out 0.25s;
}

.card-link:hover .card {
  transform: scale(1.025);
}
