/* carte.css */

.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 0 0 10px rgb(158, 156, 156);
}
.card-bordered {
  border: 5px solid white;
}

.card-image-container {
  width: 50%;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

/* image vertical */

.card-image-container-long {
  width: 50%;
  height: 260px;
}

.card-image-container-long img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.card-text p {
  flex: 1;
}

.card-text h3 {
  margin-bottom: 0;
}

/* card vertical border */

.card-vertical {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 0 0 10px rgb(158, 156, 156);
}
.card-vertical {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

.card-image-container-vertical {
  width: 100%;
  height: 250px;
}

.card-image-container-vertical img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-vertical .card-image-container-vertical img {
  border-radius: 30px 30px 0 0;
}
.card-text-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
  padding-left: 10px;
}

/* card no border */

.card-vertical-no-border {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 3px rgb(158, 156, 156);
  margin-bottom: 20px;
}
.card-vertical-no-border .card-image-container-no-border {
  width: 100%;
  height: 50%;
}

.card-image-container-no-border img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
