/* CSS Components */

.map {
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.search {
  border-radius: 20px;
}
.recherche input {
  border: 2px solid #f2f2f2;
  border-radius: 20px;
}
.info {
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}

/* filtres */

.filtres ul {
  display: flex;
  flex-wrap: wrap;
}
.filtres li {
  border: 2px solid #f2f2f2;
  border-radius: 50px;
}
<<<<<<< HEAD
=======
.economy {
  border-radius: 30px;
}
.child {
  border-radius: 30px;
}

.romantique {
  border-radius: 30px;
}

.dog {
  border-radius: 30px;
}
>>>>>>> 51aeda9... changement

/* populaires */

.col-1 {
  border-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  box-shadow: 3px 3px 5px #dbdbdb;
}

.col-1 img {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

/* hebergements */

.col-2 {
  border-radius: 35px;
  box-shadow: 3px 3px 5px #dbdbdb;
}

.col-2 img {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

/* activités*/

.col-3 {
  border-radius: 35px;
  box-shadow: 3px 3px 5px #dbdbdb;
}

.col-3 img {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 960px) {
}
