/* CSS Display*/

/* recherche */
.nav a {
  color: #0065fc;
}

.recherche input {
  text-decoration: none;
  color: #0065fc;
}

.recherche input{
  border:2px solid #f2f2f2;
  border-radius: 30px;
}

.recherche input:hover {
  background-color: red;
}

/* filtres */

.filtres a {
  text-decoration: none;
  color: #0065fc;
}

.filtres a:hover {
  background-color: yellow;
}
.filtres ul {
  justify-content: space-between;
  list-style: none;
}

.filtres li {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
}

/* populaires */

.populaires {
  background-color: #f2f2f2;
  text-align: left;
}

.col-1 {
  background-color: #fff;
  border-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
}

.col-1 img {
  object-fit: cover;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.col-1 p {
  font-size: 14px;
  text-align: left;
}

/* hebergements */

.hebergements {
  background-color: #deebff;
  text-align: left;
}

.col-2 {
  background-color: #fff;
  border-radius: 35px;
}

.col-2 img {
  object-fit: cover;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.col-2 p {
  text-align: justify;
}

/* activités*/

.activites {
  background-color: #f2f2f2;
  text-align: left;
}

.col-3 {
  background-color: #fff;
  border-radius: 35px;
}

.col-3 img {
  object-fit: cover;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.col-3 p {
  text-align: justify;
}

/* footer */

.footer {
  background-color: #f2f2f2;
}
