.brand-link img {
  width: 97px;
  height: 45px;
}

.header-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.nav-link {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-link a {
  display: flex;
  flex: 1;
  justify-content: center;
  text-decoration: none;
  border-bottom: 2px solid gray;
  padding: 15px 0;
}

.nav-link a:hover,
.nav-link a:focus,
.nav-link a:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.nav-subscription-link {
  display: none;
}

@media screen and (min-width: 576px) {
  .nav-subscription-link {
    display: flex;
  }
  .subscription-link {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav-link a {
    border-bottom: none;
    border-top: 2px solid transparent;
  }

  .nav-link a:hover {
    border-top: 2px solid var(--primary-color);
  }
  .nav-link {
    width: 150px;
  }
}
