/* CSS Layout */

h1 {
  margin: 15px;
}
h2 {
  margin: 15px;
}

.information {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fa-info {
  border: 2px solid var(--secondary-color);
  border-radius: 100%;
  padding: 10px;
  color: var(--primary-color);
  margin: 10px;
}

/* populaires */

.chart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.chart-text h2 {
  display: flex;
  text-align: left;
}

.chart-icon .fa-chart-line {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

/* hebergements */

/* activités*/

.activites {
  margin-top: 35px;
  padding: 10px;
}

/* footer */

.footer {
  margin: 15px;
  padding: 15px;
  margin-bottom: 25px;
}
.populaires .cards-container,
.hebergements .cards-container,
.activites .cards-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 250px;
}

.populaire-hebergements-container {
  display: grid;
  grid-template-columns: auto;
}

@media screen and (min-width: 576px) {
  .hebergements .cards-container {
    grid-template-columns: repeat(3, 33%);
  }

  .populaire-hebergements-container {
    grid-template-columns: 66% 33%;
  }
  .hebergements {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .populaires {
    grid-column-start: 2;
  }
}

@media screen and (min-width: 960px) {
}
