/* CSS Layout */

.header {
  margin: 8px 20px 50px 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  margin: 15px;
}
h2 {
  margin: 15px;
}

.nav {
  margin: 15px;
}
.nav a {
  text-decoration: none;
}

.nav li {
  list-style: none;
}

.hide {
  display: none;
}

.hidden {
  position: absolute;
  top: 52.7%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.tete1 {
  position: absolute;
  top: 108%;
  left: 18%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

.tete2 {
  position: absolute;
  top: 108%;
  left: 83%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

.information {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fa-info {
  border: 2px solid var(--secondary-color);
  border-radius: 100%;
  padding: 10px;
  color: var(--primary-color);
  margin: 10px;
}

/* populaires */

.chart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.chart-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.chart-icon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card:hover {
  color: #0065fc;
  transform: scale(1, 1.2);
}

/* hebergements */

/* activités*/

.activites {
  margin-top: 35px;
  padding: 10px;
}

/* footer */

.footer {
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
}
.footer p {
  padding-left: 15px;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 960px) {
  .icon {
    position: absolute;
    top: 170%;
    left: 5%;
    transform: translate(-50%, -50%);
  }
  .tete1 {
    position: absolute;
    top: 110%;
    left: 72%;
    transform: translate(-50%, -50%);
  }

  .tete2 {
    position: absolute;
    top: 110%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .hide {
    position: absolute;
    top: 190%;
    left: 96%;
    transform: translate(-50%, -50%);
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav a {
    padding-right: 30px;
    text-decoration: none;
    color: #0065fc;
  }
  .nav li {
    list-style: none;
  }
  .hidden {
    color: #0065fc;
    display: none;
  }
  .hide {
    display: revert;
  }

  .fa-info {
    position: absolute;
    top: 61%;
    left: 1%;
    transform: translate(-50%, -50%);
  }
  .fa-chart-line {
    position: absolute;
    top: 78%;
    left: 86%;
    transform: translate(-50%, -50%);
  }

  /* populaires*/

  .populaires {
    width: 27%;
    float: right;
  }

  /* hebergements*/

  .hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;

    margin-left: 15px;
  }
  .hebergements a {
    margin-top: 70px;
    margin-right: 520px;
  }
  .carteH {
    padding: 15px;
    position: absolute;
    top: 72%;
    left: 13%;
    transform: translate(-50%, -50%);
  }

  .col-2 {
    width: 290px;
    height: 200px;
    margin-top: 50px;
  }

  .col-2 img {
    width: 100%;
  }

  .col-2 p {
    margin-top: 0px;
    text-align: justify;
  }

  .activites {
    width: 75%;
    margin-top: 30px;
  }
  .col-3 {
    width: 100%;
  }
}
