/* CSS Layout */

.header {
  margin: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  margin: 15px;
}
h2 {
  margin: 15px;
}

h3 {
  margin: 15px;
}

.nav {
  margin: 15px;
}
.nav a {
  text-decoration: none;
}

.nav li {
  list-style: none;
}

.hide {
  display: none;
}

.fa-map-marker-alt {
  position: absolute;
  top: 54.7%;
  left: 13%;
  transform: translate(-50%, -50%);
}
.fa-map-marker-alt {
  padding: 18px 20px;
  width: 60px;
  height: 60px;
}

.fa-search {
  position: absolute;
  top: 54.7%;
  left: 365px;
  transform: translate(-50%, -50%);
}
.fa-search {
  padding: 16px 18px;
  width: 60px;
  height: 60px;
}

.recherche input {
  width: 100%;
  margin: 20px;
  padding: 19px;
  padding-left: 100px;
}

.fa-info {
  padding: 1px;
  margin: 15px;
}
.fa-chart-line {
  margin-left: 150px;
}

/* filtres */

.filtres {
  margin: 15px;
}

.filtres li {
  padding: 15px 10px 15px 53px;
  margin: 5px;
  margin-bottom: 10px;
}

.fa-money-bill-wave {
  position: absolute;
  top: 75%;
  left: 20.7%;
  transform: translate(-50%, -50%);
}
.fa-money-bill-wave {
  padding: 15px 10px;
  width: 50px;
  height: 53px;
}
.fa-child {
  position: absolute;
  top: 75%;
  left: 67%;
  transform: translate(-50%, -50%);
}
.fa-child {
  padding: 15px 17px;
  width: 50px;
  height: 53px;
}

.fa-heart {
  position: absolute;
  top: 85.5%;
  left: 21.7%;
  transform: translate(-50%, -50%);
}
.fa-heart {
  padding: 15px 13px;
  width: 50px;
  height: 53px;
}

.fa-dog {
  position: absolute;
  top: 95.5%;
  left: 21.7%;
  transform: translate(-50%, -50%);
}

.fa-dog {
  padding: 14px 13px;
  width: 50px;
  height: 53px;
}

.fa-info {
  position: absolute;
  top: 110%;
  left: 3%;
  transform: translate(-50%, -50%);
}
.fa-info {
  padding: 4px 10px;
}

.info {
  margin: 20px;
}
.info p {
  margin-left: 30px;
}

.fa-chart-line {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* populaires */

.populaires {
  width: 100%;
  margin-top: 35px;
  padding: 5px;
}
.col-1 {
  width: 100%;
  height: 170px;
  padding: 10px;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.col-1 img {
  position: absolute;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.col-1 h3 {
  float: right;
  padding: 5px 10px 10px 10px;
}
.col-1 p {
  float: right;
  padding: 0px 40px 10px 20px;
  margin-top: auto;
}
/* hebergements */

.hebergements {
  width: 100%;
  margin-top: 35px;
  padding: 20px;
}

.col-2 {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  padding: 5px;
}

.col-2 img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.col-2 h3 {
  padding-left: 10px;
}
.col-2 p {
  padding-left: 22px;
}

/* activités*/

.activites {
  width: 100%;
  margin-top: 35px;
  padding: 20px;
}

.col-3 {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.col-3 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.col-3 h3 {
  padding: 0px 0px 30px 10px;
}

/* footer */

.footer {
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 15px;
}
.footer p {
  padding-left: 15px;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 960px) {
  .nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .nav a {
    padding-right: 30px;
    text-decoration: none;
    color: #0065fc;
  }
  .nav li {
    list-style: none;
  }
  .hidden {
    color: #0065fc;
    display: none;
  }
  .hide {
    display: revert;
  }
  .populaires {
    width: 27%;
    float: right;
  }
  .hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    max-height: 630px;
  }
  .hebergements a {
    margin-top: 70px;
    margin-right: 520px;
  }
  .carteH {
    padding: 15px;
    position: absolute;
    top: 65%;
    left: 13%;
    transform: translate(-50%, -50%);
  }

  .col-2 {
    width: 230px;
    height: 190px;
    margin-top: 50px;
  }

  .col-2 img {
    width: 100%;
  }

  .col-2 p {
    margin-top: 0px;
    text-align: justify;
  }

  .activites {
    width: 75%;
    margin-top: 30px;
  }
  .col-3 {
    width: 100%;
  }
}
