/* CSS Main */

.recherche input {
  text-decoration: none;
}
.fa-map-marker-alt {
  text-align: center;
}

.hidden {
  text-decoration: none;
}

/* filtres */

.filtres a {
  text-decoration: none;
}


.info {
  text-align: left;
}

/* populaires */

.populaires {
  text-align: left;
}

/* hebergements */

.afficher {
  text-decoration: none;
}

/* activités*/

.activites {
  text-align: left;
}

.col-3 {
  border-radius: 35px;
  box-shadow: 3px 3px 5px #dbdbdb;
}

.col-3 img {
  object-fit: cover;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.col-3 h3 {
  text-align: justify;
}

/* footer */

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 960px) {
}
