/* CSS Main */
html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
body {
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
}
h1 {
  font-size: 25px;
  font-weight: bolder;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* recherche */

.recherche input {
  color: #000000;
}

.nav a {
  color: #0065fc;
}
.hidden {
  color: #0065fc;
}

.fa-map-marker-alt {
  font-size: 23px;
  background-color: #f2f2f2;
}

.fa-search {
  font-size: 23px;
  color: #fff;
  background-color: #0065fc;
}
.recherche input {
  font-size: 18px;
}
.recherche input:hover {
  background-color: red;
}

/* filtres */

.filtres a {
  color: #0065fc;
}

.filtres a:hover {
  background-color: yellow;
}

.filtres li {
  font-weight: bold;
}

.fa-money-bill-wave {
  font-size: 23px;
  color: #0065fc;
  background-color: #deebff;
}

.fa-child {
  font-size: 23px;
  color: #0065fc;
  background-color: #deebff;
}

.fa-heart {
  font-size: 23px;
  color: #0065fc;
  background-color: #deebff;
}

.fa-dog {
  font-size: 23px;
  color: #0065fc;
  background-color: #deebff;
}

.fa-info {
  font-size: 16px;
  color: #0065fc;
}

/* populaires */

.populaires {
  background-color: #f2f2f2;
}

.col-1 {
  background-color: #fff;
}

/* hebergements */

/* activités*/

/* footer */

.footer {
  background-color: #f2f2f2;
}

@media screen and (min-width: 600px) {
  body {
    background-color: yellow;
  }
}

@media screen and (min-width: 960px) {
  body {
    background-color: green;
  }
}
