/* CSS Main */
html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
}
h1 {
  font-size: 25px;
  font-weight: bolder;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* recherche */

.recherche input {
  color: #000000;
}

.nav a {
  color: #000;
}

.nav a:hover {
  color: #0065fc;
}

.hidden {
  color: #0065fc;
}

/* filtres */

.filtres a {
  color: #000;
}

.filtres a:hover {
  color: #0065fc;
}

/* populaires */

.populaires {
  background-color: #f2f2f2;
}

/* hebergements */

.afficher {
  color: #000;
}

.afficher:hover {
  color: #0065fc;
}

.hidden {
  text-decoration: none;
}

.afficher {
  text-decoration: none;
  margin-left: 25px;
}

/* footer */

.footer {
  background-color: #f2f2f2;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 960px) {
  .hebergements {
    background-color: #f2f2f2;
    border-radius: 25px;
  }

  .populaires {
    border-radius: 25px;
  }

  main {
    margin: 30px;
  }
}
